.container{
    display: block;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    min-width: min-content;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    height: max-content;
}
.content{
    display: grid;
    grid-template-columns: minmax(max-content, 15%) minmax(min-content, 85%);
    text-align: center;
}
list{
    display: inline-block;
    text-align: left;
    list-style: none;
    padding: 5px;
}
list li{
    padding: 5px;
    width: max-content;
    font-size: 20px;
    cursor: default;
}
list li:hover{
    color: lightgray;
}
.menu{
    border-radius: 5px;
    margin-top: -20px;
    display: grid;
    grid-template-columns: minmax(min-content, 16%) minmax(min-content, 28%) minmax(min-content, 28%) minmax(min-content, 28%);
    grid-gap: 10px;
    width: 100%;
    min-width: min-content;
    vertical-align: center;
}
.basket{
    display: block;
    grid-column: 4/5;
    justify-self: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
}
.account{
    display: block;
    grid-column: 4/5;
    justify-self: center;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    height: max-content;
}
.name h2{
    display: block;
    justify-self: center;
    text-align: center;
    vertical-align: top;
    font-size: 30px;
    height: 30px;
}
.basket{
    display: block;
    grid-column: 3/4;
    grid-row: 1/2;
    height: max-content;
}
.basketBtn{
    justify-self: center;
    padding: 15px 30px;
    background-color: rgba(0, 191, 255, 0.5);;
    border: none;
    border-radius: 5px;
}
.basketBtn:hover{
    color: white;
}
.basketBtn:active{
    color: white;
    border: none;
}
.products{
    height: max-content;
    width: 100%;

}
.contain{
    vertical-align: top;
}


.product{
    display: inline-block;
    background-color: rgba(0, 191, 255, 0.3);
    vertical-align: top;
    border-radius: 5px;
    height: 350px;
    width: 170px;
    padding-bottom: 10px;
    margin: 5px;
    margin-top: 15px;
}
.product img{
    width: 150px;
    height: 150px;
}
.categories{
    min-width: max-content;
}
.buyBtn{
    display: block;
    vertical-align: bottom;
}
.hide{
    display: none;
    position: absolute;
    background-color: rgba(0, 191, 255, 0.9);
    border-radius: 5px;
    max-width: max-content;
    min-width: max-content;
    width: max-content;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.hide input{
    width: 30px;
}
.hide td{
    padding: 5px;
}
.hide tr{
    background-color: rgba(0, 191, 255, 0.5);
}
.hide tr:first-child{
    background-color: rgba(0, 191, 255, 0.0);
}
.hide table{
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.buttons{
    text-align: center;
    padding: 10px 20px;
}
.buttons a{
    margin-right: 10px;
}
.hide a{
    text-decoration: none;
    height: 30px;
    border: rgba(255, 255, 255, 0.2) 2px solid;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    padding: 10px;
    border-radius: 5px;
}
.hide a:hover{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    padding: 10px;
    color: black;
    transition: 0.3s;
}
.hide a:last-child{
    cursor: pointer;
}
.hide td button{
      border: rgba(255, 255, 255, 0.2) 2px solid;
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 3px;
      color: white;
  }
.hide td button:hover{
    border: rgba(255, 255, 255, 0.2) 2px solid;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    color: black;
}
.accountInfo button{
    width: 70px;
    border: none;
    padding: 10px;
    background-color: rgba(0, 191, 255, 0.5);
    border-radius: 3px;
    color: black;
    margin-top: 5px;
}
.accountInfo button:hover{
    border: none;
    padding: 10px;
    background-color: rgba(0, 191, 255, 0.5);
    border-radius: 3px;
    color: white;
}
.accountInfo{
    font-style: italic;
}
.product button{
    height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px rgba(255, 255, 255, 0.5) solid;
    border-radius: 5%;
    width: 60px;
}
.product button:hover{
    color: white;
}
.categories button{
    font-style: italic;
    font-size: 15px;
    text-align: center;
    width: 100px;
    height: 30px;
    background-color: rgba(0, 191, 255, 0.3);
    border: 2px rgba(255, 255, 255, 0.5) solid;
    border-radius: 15%;
}
.categories button:hover{
    color: white;
}